<div class="list-card js-member-droppable ui-droppable">
  <div class="list-card-labels clearfix js-card-labels"></div> 
  <div class="list-card-cover js-card-cover hide"></div>
  <span class="list-card-operation icon-sm icon-menu dark-hover js-card-menu"></span>
  <div class="list-card-stickers-area clearfix hide"> 
    <div class="stickers js-card-stickers"></div> 
  </div> 
  <div class="list-card-details clearfix"> 
    <a class="list-card-title clear js-card-name"><span class="card-short-id hide"># </span></a> 
    <div class="badges"></div> 
    <div class="list-card-members js-list-card-members"></div> 
  </div> 
  <p class="list-card-dropzone">Drop files to upload.</p> 
</div>
<div class="card-composer hide">
  <div class="list-card js-composer" style="padding-bottom: 0px;"> 
    <div class="list-card-labels clearfix js-list-card-composer-labels"></div> 
    <textarea class="list-card-composer-textarea js-card-title"></textarea> 
    <div class="list-card-members js-list-card-composer-members"></div> 
  </div> 
  <div class="cc-controls clearfix"> 
    <input type="submit" class="primary confirm js-add-card" value="Add"> 
    <a class="icon-lg icon-close dark-hover js-cancel" href="#">
    </a>
    <a class="cc-opt icon-lg icon-menu dark-hover js-cc-menu" href="#">
    </a> 
  </div>
</div>
