<div class="card-composer">
  <div class="list-card js-composer" style="padding-bottom: 0px;">
    <div class="list-card-labels clearfix js-list-card-composer-labels"></div>
    <textarea class="list-card-composer-textarea js-card-title"></textarea> 
    <div class="list-card-members js-list-card-composer-members"></div>
  </div> 
  <div class="cc-controls clearfix"> 
    <input type="submit" class="primary confirm js-add-card" value="Add">
    <a class="icon-lg icon-close dark-hover js-cancel" href="#"></a> 
    <a class="cc-opt icon-lg icon-menu dark-hover js-cc-menu" href="#"></a>
  </div>
</div>
