<div class="list">
  <div class="list-header js-list-header non-empty clearfix editable" attr="name">
    <h2 class="list-header-name hide-on-edit js-list-name current"></h2>
    <p class="list-header-num-cards hide js-num-cards"></p>
    <span class="list-header-subscribe-icon icon-sm icon-follow js-list-subscribed hide"></span>
    <div class="edit edit-heavy clearfix">
      <textarea type="text" class="field single-line"></textarea>
    </div> 
    <a href="#" class="list-header-menu-icon icon-sm icon-menu dark-hover js-open-list-menu"></a> 
  </div>
  <div id="card" class="list-cards fancy-scrollbar clearfix js-list-cards js-sortable ui-sortable"></div> 
  <a class="open-card-composer js-open-card-composer" href="#">Add a card…</a>
</div>
