<div class="list-area  js-list-sortable  js-no-higher-edits clearfix ui-sortable" style="width: 276px;"><div class="list add-list idle"><form> <span class="placeholder js-open-add-list">Add a list…</span> <input type="text" class="list-name-input" name="name" placeholder="Add a list…" autocomplete="off"> <div class="edit-controls keep clearfix"> <input type="submit" class="primary confirm js-save-edit" value="Save"> <a href="#" class="icon-lg icon-close dark-hover cancel js-cancel-edit"></a> </div> </form> </div><div class="version-tag"></div></div>
<br>
<div id="childView"></div>
